

<h1 class="land">About Us</h1>


<p class="about">Acquired in December 2017 by Kinepolis Group NV, Belgium, Landmark is Canada’s second largest motion picture 
  theatre exhibition company.</p>

  <p class="about">From a single screen in 1965 to today, we continue to provide the perfect setting for popcorn 
    munching Movie Lovers to connect and share their love of movies at 46 theatres on 330 screens 
    throughout Western Canada, Ontario and the Yukon Territory, in multiple formats that include Premium 
    Large Format (PLF) brands (IMAX®, Extra, Xtreme), and RealD 3D technology, and in select locations in 
    the premium comfort of Full-Recliner Seating and with the added convenience of FREE Reserved Seating.</p>
  
  <p class="about">We are connected to the communities we serve, and our Cast and Crew are proud to support Kids Help Phone.
     As a National Sponsor of the Walk So Kids Can Talk, through promotional support and fundraising initiatives in our theatres,
      we are committed to support the mental health and well-being of both our youth Guests and Cast & Crew.</p>


<img class="main" src="/assets/about1.jpg">

<h3>CONTACT US </h3>
<h5>Our corporate headquarters is located in Calgary, Alberta, with a satellite office in Toronto, Ontario.
   For questions and or comments you may contact us at:</h5>

<address>Landmark Cinemas Canada LP<br>
c/o Guest Services<br>
Suite 100, 14505 Bannister Rd SE<br>
Calgary, Alberta<br>
T2X 3J3</address>

<h5>E-mail: <a href="mailto:yachnamahajan24@gmail.com">Yachana Mahajan</a></h5>

<h5>PHONE: 1 (403) 262-4255</h5>
<h6>For guest services, please visit: <a href="https://www.landmarkcinemas.com/how-can-we-help/">"https://www.landmarkcinemas.com/how-can-we-help/"</a></h6>

