extends layout

block content
  h1.text-warning= title
  p.add Landmark Cinemas offers a wide variety of alternative content, best experienced on the BIG SCREEN! From individual titles to series like the MET Opera.
  img.main1(src="/images/about1.jpg" alt="Image Title")