extends layout

block content
  h1.text-warning= title
  p.add Welcome to Landmark Cinemas.
  h2 "Audience can live without a movie but a movie cannot live without an audience."
  img.main(src="/images/pic2.jpg" alt="Image Title")