.text-warning{
    text-align: CENTER;
    color: #D83F87;
}
.land{
    color: darkslateblue;
    font-style: italic;
}
div{
    font-size: 18px;
    margin-left: 50px;
}
.add{
    color: lightblue;

}
.btn-warning{
    background-color: darkslateblue;
    color:wheat;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
      
}
span{
    font-size: small;
    font-weight: bold;
}

ul {
    background: #666363;
    padding: 20px;
  }
  ul li {
    background: whitesmoke;
    padding: 5px;
    margin-left: 35px;
  }

